<header>

  <div class="col-xs-12 col-md-4 animated fadeInDown namebox" id="box">
    <h1 class="title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    <hr />
    <ul class="navigation">
      <li><h4><a href="/about/">About</a><span class="gray-text"></h4></li>
      <li><h4><a href="/archive/">Archive</a><span class="gray-text"></h4></li>
      <li><h4><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></h4></li>
   </ul>
  </div>

</header>
