<header>

  <div class="col-xs-12 col-md-4 animated fadeInDown namebox" id="box">
    <h1 class="namebox-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <p class="namebox-subtitle">{{ site.description }}</p>
    <hr />
    <ul class="navigation">
      <li class="navigation-item"><h4 class="navigation-item-text"><a href="/about/">About</a><span class="gray-text"></h4></li>
      <li class="navigation-item"><h4 class="navigation-item-text"><a href="/archive/">Archive</a><span class="gray-text"></h4></li>
      <li class="navigation-item"><h4 class="navigation-item-text"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></h4></li>
   </ul>
  </div>

</header>
