.namebox {
  @include grid-column(12);

  @include grid-media($large-neat-grid){
    @include grid-column(4);
  }

  margin-top: 20px;
  border-radius: 2px;
  border: 2px solid $pd-transparent-blue; 
  position: relative;
  padding: 0 15px;
  @media only screen and (max-width: $screen-tablet) {
    margin-top: 5px;
    border: 0;
    border-bottom: 2px solid $pd-transparent-blue;
    margin-left: 0px;
    width: auto;
    float: none;
  }
}

.namebox-title {
  @media only screen and (max-width: $screen-tablet) {
    font-size: $font-size-h4;
    text-align: center;
  }
}

.namebox-subtitle {
  @media only screen and (max-width: $screen-tablet) {
    display: none;
  }
}

.navigation {
  list-style: none;
  padding: 0px;
}

.navigation-item {
  @media only screen and (max-width: $screen-tablet) {
    display: inline-block;
    width: calc(90%/3);
    text-align: center;
  }
}

.navigation-item-text { 
  @media only screen and (max-width: $screen-tablet) {
    font-size: $font-size-h5;
  }
}
