.namebox {
  @include grid-column(12);

  @include grid-media($large-neat-grid){
    @include grid-column(4);
  }

  margin-top: 20px;
  border-radius: 2px;
  border: 2px solid $pd-transparent-blue; 
  position: relative;
	padding: 0 15px;
}

.navigation {
  list-style: none;
  padding: 0px;
}

.title a:link {
  border-bottom: 0px;
}

.title a:visited {
  text-decoration: none;
}

