.this {
  list-style: none;
  background-color: #fdf6e3;
  border-radius: 5px;
  padding: 10px;

}

.past {
  list-style: none;
  padding: 10px;
}

#archive ul li time {
  padding-right: 10px;
  font-family: 'Inconsolata', ;
  font-size: 1.1em; 
  &::after {
    content: "•";
    padding-left: 10px;
  }
}