.tech-skills {
  list-style: none;
}

.legend {
  border-radius: 4px;
  border: 2px solid rgba(125, 222, 255, 0.5);
  padding: 4px 2px 0px 2px;
  font-size: 13px;
  color: rgb(125, 222, 255);
  &:hover {
    border: 2px solid rgb(125, 222, 255);
    color: #69C5FF;
  }
}

.skill {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  margin: 3px;
}

.good {
  background-color: rgba(255, 255, 92, 0.5);
  &:hover {
    background-color: rgb(255, 255, 92);
  }
}

.better {
  background-color: rgba(209, 255, 92, 0.5);
  &:hover {
    background-color: rgb(209, 255, 92);
  }
}


.best {
  background-color: rgba(106, 255, 89, 0.5);
  &:hover {
    background-color: rgb(106, 255, 89);
  }
}